body {
  font-family: 'Open Sans'; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

.border-bottom {
  border-bottom: 1px solid #dddddd; }

.body-box {
  background: #ffffff;
  margin: 10px;
  padding: 10px;
  border: 1px solid #cccccc; }
  .body-box h3 {
    padding: 0 0 10px 5px; }

.body-box-title {
  border-top: 4px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  background: #000000;
  color: #999999;
  padding: 14px 15px 14px; }

.body-box-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px; }

.body-box-item {
  margin: 10px 0 30px; }

/* SCAFFOLDING */
#wrapper {
  width: 100%;
  background: #000000; }

.wrapper {
  padding: 0 20px; }

.wrapper-content {
  padding: 20px 10px 40px; }

.no-pad {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.nav-header {
  font-family: Oswald;
  padding: 33px 25px; }
  .nav-header h1 {
    color: #ffffff;
    text-align: center; }

#sidebar-wrapper {
  margin-left: -250px;
  padding-top: 5px;
  left: 250px;
  width: 250px;
  background: #000000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 100%; }

#page-content-wrapper {
  width: 100%; }

ul.sidebar-nav {
  /*position: absolute;
  top: 100px;*/
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0; }

ul.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px; }

ul.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none; }

ul.sidebar-nav li a:hover {
  color: #ffffff;
  background: rbga(255, 255, 255, 0.2);
  text-decoration: none; }

ul.sidebar-client-nav {
  clear: both;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0; }

ul.sidebar-client-nav li {
  line-height: 40px;
  padding-left: 40px;
  text-align: left; }

ul.sidebar-client-nav li a {
  color: #fff;
  display: block;
  text-decoration: none; }

ul.sidebar-client-nav li a:hover {
  color: #ffffff;
  background: rbga(255, 255, 255, 0.2);
  text-decoration: none; }

.gray-bg {
  background-color: #f3f3f4; }

.white-bg {
  background-color: #ffffff; }

.dashboard-header {
  border-top: 4px solid #e7eaec;
  padding: 20px 20px 20px 20px; }

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important; }

body.fixed-sidebar .navbar-static-side {
  position: fixed;
  width: 220px;
  z-index: 101;
  height: 100%; }

.navbar-fixed-top, .navbar-static-top {
  background: #f3f3f4; }

body.mini-navbar .profile-element,
body.mini-navbar .nav-label,
body.mini-navbar .navbar-default .nav li a span {
  display: none; }

body.fixed-sidebar.mini-navbar .nav-label,
body.fixed-sidebar.mini-navbar .navbar-default .nav li a span {
  display: inline; }

.navbar-top-links li {
  display: inline-block; }

.navbar-top-links li:last-child {
  margin-right: 15px; }

.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px; }

.nav-wrapper {
  background: #000000; }

.minimalize-styl-2 {
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left; }

.welcome-message {
  color: #000000;
  font-size: 18px;
  font-weight: bold; }

.top-welcome-message {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  display: block;
  width: 260px; }

.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0; }

.nav > li > a {
  color: #999999;
  font-weight: 600;
  padding: 14px 20px 14px 20px; }

.nav > li > a i {
  margin-right: 6px; }

.nav > li.active > a {
  color: #ffffff; }

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #293846;
  color: white; }

.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
  background-color: #ececec; }

.nav > li.active {
  border-left: 4px solid #19aa8d;
  background: #293846; }

.projector-wrapper {
  margin: 20px 0; }

.form-horizontal {
  /*margin-bottom: 100px !important;*/ }

.manager-table {
  background: #ffffff;
  margin-bottom: 60px;
  border-bottom: 1px dotted #000; }

.manager-table th {
  background: #000000;
  color: #ffffff; }

@media (max-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 0px;
    min-height: 3000px;
    overflow: hidden; } }

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
    min-height: 3100px;
    overflow: hidden; }
  .navbar-static-side {
    z-index: 101;
    position: absolute;
    width: 220px; } }

@media (max-width: 1000px) {
  .welcome-message {
    display: none; } }

.border-bottom {
  border-bottom: 1px solid #dddddd; }

.body-box-title {
  border-top: 4px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  background: #000000;
  color: #999999;
  padding: 14px 15px 14px; }

.body-box-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px; }

.body-box-item {
  margin: 10px 0 30px; }

.gray-bg {
  background-color: #f3f3f4; }

.white-bg {
  background-color: #ffffff; }

.no-pad {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.dashboard-header {
  border-top: 4px solid #e7eaec;
  padding: 20px 20px 20px 20px; }

.form-wrapper {
  width: 75%;
  margin: 20px auto;
  padding: 20px;
  background: #bbbbbb; }

.body-box-title {
  border-top: 4px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  background: #000000;
  color: #999999;
  padding: 14px 15px 14px; }

.body-box-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px; }

.body-box-item {
  margin: 10px 0 30px; }

.fifty_plus {
  font-size: 10px;
  font-weight: bold;
  color: #333;
  border: 1px solid #efefef;
  background: #bbb;
  padding: 3px;
  border-radius: 5px; }

.badge {
  font-size: 10px !important; }

.navbar-default {
  background: #000000; }

.nav-button {
  display: block;
  background: blue;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px; }
  .nav-button:hover {
    text-decoration: none; }

.header {
  height: 80px;
  padding: 10px;
  background: #bbd5f5; }
  .header .header-title {
    font-size: 50px;
    color: #ffffff;
    font-family: Oswald; }

.page-nav {
  background: olive;
  height: 50px; }

.page-nav-list {
  list-style: none; }
  .page-nav-list li {
    display: inline-block;
    padding: 11px;
    background: #000000;
    color: #ffffff; }
    .page-nav-list li a {
      color: #ffffff;
      font-size: 20px;
      font-weight: bold; }

.large-textbox {
  height: 75px;
  font-size: 40px; }

.large-button {
  height: 64px;
  font-size: 30px;
  padding: 10px; }

.content-wrapper {
  padding: 20px; }

.table thead {
  background: #000000;
  color: #ffffff; }

.panel-heading-btn {
  float: right; }

.apm-box {
  margin: 10px 0 15px; }
  .apm-box label {
    display: block;
    padding: 5px;
    margin: 3px 0;
    font: 14px/20px 'Open Sans', sans-serif;
    background-color: #cccccc;
    border-radius: 7px; }
    .apm-box label:hover {
      background-color: gold;
      cursor: pointer; }

.label-selected {
  background-color: lightgreen !important; }

input[type="radio"] {
  position: relative;
  top: 1px; }

.inactive {
  background: darkseagreen;
  border: 1px solid #000; }

.list-group-item {
  padding: 5px 15px !important; }

.form-button {
  margin: 0 5px 0; }

/*# sourceMappingURL=admin.css.map */
