html {
  background: #efefef; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  height: 100%;
  display: block; }

header {
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  z-index: 1; }

.header {
  height: 60px;
  background: #000000;
  padding: 0 15px; }

.header-title {
  font-family: 'Oswald';
  font-size: 24px;
  color: #ffffff;
  padding: 15px 0 0 10px;
  display: block; }

aside {
  display: block; }

.sidenav-toggle {
  float: left;
  padding-right: 20px;
  margin-top: 15px; }
  .sidenav-toggle .burger {
    font-size: 30px;
    color: #bbbbbb;
    cursor: pointer; }

.sidenav {
  width: 210px;
  background: #555555;
  height: 100%;
  position: fixed; }

.sidenav-list {
  list-style: none;
  margin-top: 60px;
  padding: 0; }
  .sidenav-list li {
    background: red;
    margin: 0 0 15px;
    padding: 0; }
    .sidenav-list li a {
      text-decoration: none;
      font-size: 26px;
      display: block;
      height: 50px;
      background: #bbd5ef;
      padding: 10px;
      font-family: 'Oswald'; }
      .sidenav-list li a:hover {
        background: #eed4dc; }
      .sidenav-list li a:active {
        color: #555555; }

#main-container {
  margin-left: 210px; }

.container-wrapper {
  background: #efefef;
  margin-top: 60px;
  min-height: 523px;
  width: 100%;
  display: inline-block;
  padding: 20px; }

.sidebar-closed > .sidenav > ul {
  display: none; }

.sidebar-closed #main-container {
  margin-left: 0px; }

.sidebar-closed .sidenav {
  margin-left: -210px !important; }

footer {
  background: #dd98eb;
  height: 60px; }

.footer-left {
  margin-left: 210px; }

.apm-box {
  margin: 10px 0 15px; }
  .apm-box label {
    display: block;
    padding: 5px 10px;
    margin: 4px 0;
    font: 14px/18px Arial, sans-serif;
    background-color: #cccccc;
    border-radius: 7px; }
    .apm-box label:hover {
      background-color: gold;
      cursor: pointer; }
  .apm-box .half-box label {
    width: 50%; }
  .apm-box select {
    display: block;
    padding: 5px 10px;
    margin: 4px 0;
    font: 14px/18px Arial, sans-serif;
    background-color: #efefef;
    border-radius: 3px; }

.selected {
  background-color: lightgreen !important; }

input[type="radio"] {
  position: relative;
  top: 1px; }

/* ---------------------------------------------------------------------- 768+ */
@media (min-width: 768px) {
  .header-title {
    font-family: 'Oswald';
    font-size: 30px;
    color: #ffffff;
    padding: 10px 0 0 10px;
    display: block; } }

/* ---------------------------------------------------------------------- 1200+ */

/*# sourceMappingURL=master.css.map */
