.result-table {
  font-size: 0.9em;
  cursor: pointer;
  color: #111111; }
  .result-table td {
    border: 0 !important;
    line-height: 50px;
    max-height: 50px;
    min-height: 50px;
    font-size: 1.0em;
    font-weight: 400;
    color: #616161;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 16px; }
    .result-table td a {
      color: #111111;
      text-decoration: none; }

.table > thead > tr > th {
  border-bottom: 0 !important;
  padding: 10px 5px 5px 5px !important; }

.result-img {
  height: 64px;
  width: 64px;
  float: left;
  margin: 0 10px 0 0; }

.result-content {
  display: block;
  position: relative;
  background-color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  line-height: 30px;
  white-space: nowrap; }

html {
  background: #efefef; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

.no-pad {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.wrapper {
  width: 100%;
  height: 100%;
  display: block; }

header {
  position: fixed;
  left: 0;
  right: 0;
  display: block;
  z-index: 1; }

.header {
  height: 60px;
  background: #000000;
  padding: 0 15px; }

.header-title {
  font-family: 'Oswald';
  font-size: 24px;
  color: #ffffff;
  padding: 15px 0 0 10px;
  display: block; }

aside {
  display: block; }

.sidenav-toggle {
  float: left;
  padding-right: 20px;
  margin-top: 15px; }
  .sidenav-toggle .burger {
    font-size: 30px;
    color: #bbbbbb;
    cursor: pointer; }

.sidenav {
  width: 210px;
  background: #555555;
  height: 100%;
  position: fixed; }

.sidenav-list {
  list-style: none;
  margin-top: 60px;
  padding: 0; }
  .sidenav-list li {
    background: red;
    margin: 0 0 15px;
    padding: 0; }
    .sidenav-list li a {
      text-decoration: none;
      font-size: 26px;
      display: block;
      height: 50px;
      background: #bbd5ef;
      padding: 10px;
      font-family: 'Oswald'; }
      .sidenav-list li a:hover {
        background: #eed4dc; }
      .sidenav-list li a:active {
        color: #555555; }

.container-wrapper {
  background: #fafafa;
  min-height: 523px;
  width: 100%;
  display: inline-block; }

.sidebar-closed > .sidenav > ul {
  display: none; }

.sidebar-closed #main-container {
  margin-left: 0px; }

.sidebar-closed .sidenav {
  margin-left: -210px !important; }

footer {
  background: #000000;
  color: #ffffff;
  height: 60px; }

.footer-left {
  margin-left: 210px; }

.apm-box {
  margin: 5px 0;
  background: #efefef;
  overflow: hidden;
  clear: both; }
  .apm-box label {
    display: block;
    padding: 1px 10px;
    margin: 1px 0;
    font-size: 0.9em;
    font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif; }
    .apm-box label:hover {
      background-color: gold;
      cursor: pointer; }
  .apm-box .half-box label {
    width: 50%; }
  .apm-box select {
    display: block;
    padding: 5px 10px;
    margin: 4px 0;
    font: 14px/18px Arial, sans-serif;
    background-color: #efefef;
    border-radius: 3px; }

.selected {
  background-color: #eeeeee !important;
  font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
  color: chocolate; }

.label-selected {
  font-family: 'Roboto',arial,'Noto Sans Japanese',sans-serif;
  background-color: #dddddd !important;
  color: chocolate; }

input[type="radio"] {
  position: relative;
  top: 1px; }

.content-box {
  padding: 2px 10px 20px;
  background: #ffffff;
  border-radius: 4px;
  min-height: 400px;
  border: 1px solid #dedede; }
  .content-box h1, .content-box h2 {
    padding: 0;
    margin: 5px 5px; }

#map-canvas {
  height: 100%; }

.disabled-label {
  color: #cccccc; }

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0 !important; }

.media {
  background: #ffffff;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 4px; }

.site-box {
  padding: 5px;
  border: 1px solid #efefef;
  border-radius: 4px;
  background: #ffffff;
  margin: 20px 0;
  box-shadow: 1px 1px 1px #bbb; }

.contact-box {
  padding: 5px;
  border: 3px solid #efefef;
  border-radius: 4px;
  background: beige; }

.gallery-nav {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .gallery-nav a {
    font-size: 40px;
    color: #0a2200; }
    .gallery-nav a:hover {
      color: #0a2200;
      background: #859180; }

.gallery-prev {
  background: #efefef;
  width: 50%; }

.gallery-next {
  background: #efefef;
  width: 50%; }

.search-box-title {
  font-family: 'Open Sans';
  font-size: 1.1em;
  display: block;
  padding: 3px 3px 5px 10px;
  text-align: left;
  background: #000000;
  color: #ffffff;
  font-weight: bold; }

/* ---------------------------------------------------------------------- 768+ */
@media (min-width: 768px) {
  .header-title {
    font-family: 'Oswald';
    font-size: 30px;
    color: #ffffff;
    padding: 10px 0 0 10px;
    display: block; } }

/* ---------------------------------------------------------------------- 1200+ */

/*# sourceMappingURL=masterB.css.map */
