html {
  background: #eecbf0; }

body {
  margin: 5px;
  padding: 0;
  font-family: Helvetica; }

h1, h2, h3, h4, h5, h6 {
  color: #555555; }

.header {
  height: 125px;
  padding: 10px;
  background: #ffffff; }

.red-header {
  color: red;
  font-weight: bold; }

.site-box {
  clear: both;
  border: 1px solid #000000;
  padding: 5px;
  min-height: 100px;
  margin: 5px; }

.footer {
  padding: 10px 10px 20px;
  height: 75px;
  position: absolute;
  bottom: 0; }

.table {
  font-size: 14px; }

/*# sourceMappingURL=report.css.map */
