.result-table {
    font-size: 0.9em;
    cursor: pointer;
    color: #111111;
    td {        
        border: 0 !important;        
        line-height: 50px;
        max-height: 50px;
        min-height: 50px;       
        font-size: 1.0em;
        font-weight: 400;
        color: #616161;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 16px;
        a {
            color: #111111;
            text-decoration: none;
        }
    }
}

.table>thead>tr>th {
    border-bottom: 0 !important;
    padding: 10px 5px 5px 5px !important;
}
 
 .result-img {
    height: 64px;
    width: 64px; 
    float: left;
    margin: 0 10px 0 0;
}

.result-content {
    display: block;
    position: relative;
    background-color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;   
}